language: go
sudo: false
go:
  - 1.14.x
  - 1.13.x

before_install:
  - go get -u -t ./...

script:
  - go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...

after_success:
  - bash <(curl -s https://codecov.io/bash)
