on:
    pull_request:
      branches: [master]
    push:
      branches: [master]
permissions:
  # Goaction needs permissions to update pull requests comments and update content.
  pull-requests: write
  contents: write
jobs:
    goaction:
      runs-on: ubuntu-latest
      steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Update action files
        uses: posener/goaction@v1
        with:
          path: cmd/goreadme
          name: goreadme
          desc: Updates readme from Go doc
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          image: 'golang:1.16.3-alpine3.13'
          icon: book-open
          color: blue
